<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold Game</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>
<body class="container">
    <span> Your Gold: {{ session['yourGold'] }} </span>
    <div class="form-inline">
        <h4>Farm</h4>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="farm"/>
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="form-inline">
        <h4>Cave</h4>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="cave"/>
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="form-inline">
        <h4>House</h4>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="house" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="form-inline">
        <h4>Casino</h4>
        <form action="/process_money" method="post">
            <input type="hidden" name="building" value="casino" />
            <input type="submit" value="Find Gold!"/>
        </form>
    </div>  
</body>
</html>